/* variables para guardar valores, hace el codigo mas facil de leer y escribir. */
:root {
    --rojo: #E50914;
    --fondo: #0f0f0f;
}

/* Valores basicos para una pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* reinicia los estilos del navegador */
}

body {
    background: var(--fondo);
    font-family: "Open Sans", sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}


/* Header - Menú */
header {
    padding: 30px;

}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: "Bebas Neue", cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size:40px;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover, header nav a.activo {
    color: #F3F3F3;
}

/* Footer */
.footer {
    padding-top: 20px;
    background-color: black;
}

.footer--contenedor {
    width: 95%;
    margin-inline:auto;
}

.iconos {
    display: flex;
    gap: 20px;
}

.iconos li {
    width: 30px;
    height: 30px;
    list-style: none;
}

.informacion {
    display: grid;
    color: rgb(133, 133, 133);
    gap: 20px;
    margin-block: 20px;
    font-size: 15px;
}

/* Ajuste dependiendo del tamaño de la pantalla */
@media (min-width:400px) {
    .informacion {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:768px) {
    .informacion {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:992px) {
    .informacion {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.informacion p:hover {
    color:white;
}

.idioma {
    color: white;
    padding: 8px;
    font-weight: 700;
}
