/* Estilos para la sección de contacto */
.contacto {
    background-color: var(--fondo);
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 600px;
    color: #f0f8ff;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-bottom: 20px;
}
.contacto h1{
    padding: 20px;
}

.contacto label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contacto input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--rojo); /* Usando la variable --rojo para el color de fondo */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contacto input[type="submit"]:hover {
    background-color: #E50914; /* Color de hover específico */
}

.contacto #mensajeEnviado {
    display: none;
    color: var(--rojo); /* Color rojo para el mensaje de éxito */
    margin-top: 10px; /* Espacio entre el formulario y el mensaje */
}
